html,
body,
h1,
ul {
    margin: 0;
}



header {
    height: 50px;
    background-color: red;
}

main {
    background-color: blue;
}

footer {
    height: 500px;
    background-color: green;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (min-height: 930px) {
    footer {
        position: fixed;
    }
}