html,
body,
h1,
ul {
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: pink;
    justify-content: space-between;
}


header {
    height: 50px;
    background-color: red;
}

main {
    background-color: blue;
}

footer {
    height: 500px;
    background-color: green;
    position: relative;
    width: 100%;
    bottom: 0;
}

.spacer {
    flex: 1;
}